img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

img.img-thumbnail-not-aproved{
    height: 100px;
    min-width: 100px !important;
    width: 100px;
    margin-bottom: 2px;
    opacity: 0.45;
}

.nv-file-over {
    border:  dotted 3px red;
}
input[type=file] {
    color: transparent;
}


.image-with-text {
    position: relative;
}

.text-center-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}