<div class="container mt5">
  <h2>Admin Panel</h2>
  <div class="tab-panel">
     <tabset class="member-tabset">
        <tab *appHasRole="['Admin']" heading="User Management">
            <div class="container">
              <app-user-management></app-user-management>
            </div>
        </tab>
        <tab *appHasRole="['Admin', 'Moderator']" heading="Photo Management">
          <app-photo-management></app-photo-management>
      </tab>
     </tabset>
  </div>

</div>