.card{
  border: none;
}

.chat{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom:  1px dotted #B3A9A9;
}

.rounded-circle{
  max-width: 50px;
  max-height: 50px;
}

.card-body{
  overflow-y: scroll;
  height: 400px;
}
