<div class="row">
  <div class="col-sm-2" *ngFor="let photo of photos">
    <img src="{{photo.url}}" class="img-thumbnail -p1">
    <div class="text-center" >
      <button type="button" style="width: 50%;" class="btn btn-sm btn-danger" (click) ="rejectPhoto(photo.id)" ><i class="close"></i>Reject</button>
      <button type="button" style="width: 50%;" class="btn btn-sm btn-success" (click) ="approvePhoto(photo.id)"><i class="close-outline"></i>Aprove</button>
    </div>
  </div>
</div>